* {
    font-family: sans-serif;
    text-align: center;
}
body {
    font-size: 16px;
    margin: 0;
}

.container {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 100px 1fr 200px;
}

.footer {
    height: 100%;
    width: 100%;
    margin-top: 10vw;
    border-top: 1px solid rgb(126, 126, 126);
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 99%;
    width: 100%;
    border-bottom: 1px solid rgb(126, 126, 126);

}

#logo {
    margin: auto;
    text-align: left;
    font-size: 2.5em;
    color: rgb(41, 41, 41);

}

#logo:hover {
    text-decoration: underline;
}

.searchform {
    margin: auto;
    display: grid;
    grid-template-columns:10fr 1fr;
    gap: 10px;
}

#inputsearch {
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: auto;
    border: none;
    appearance: none;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 1em;
    width: 350px;
    border-radius: 10px;
}



#inputsearch:focus {
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
}

.searchbutton {
    justify-self: center;
    align-self: center;
    margin-top: 3px;
    width: 40px;
}

.cartbutton {
    justify-self: center;
    align-self: center;
    width: 50px;
}

.welcomeimg {
    margin-top: 2vw;
    border-radius: 40px;
    width: 95vw;
}

@keyframes welcometransition {
    from {
        margin-top: 9vw;
    }
    to {
        margin-top: 0px;
    }
}

@keyframes welcometransition2 {
    from {
        margin-top: 11vw;
    }
    to {
        margin-top: 5vw;
    }
}

#Welcometext {
    margin: 0;
    position: absolute;
    width: 100%;
    color: whitesmoke;
    text-shadow: 0px 0px 10px rgb(75, 75, 75);
    font-weight: 900;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 45%;
    left: 50%;
    animation: welcometransition 1s;
    transform: translate(-50%, -50%);   
}

#Welcometext2 {
    margin-top: 5vw;
    position: absolute;
    width: 100%;
    color: whitesmoke;
    text-shadow: 0px 0px 10px rgb(75, 75, 75);
    font-weight: 900;
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 45%;
    left: 50%;
    animation: welcometransition2 1s;
    transform: translate(-50%, -50%);   
}

.curiosidadescontainer {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    gap: 3vw;

}

.box {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    box-shadow:
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.012),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.018),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.022),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.028),
  100px 100px 80px rgba(0, 0, 0, 0.04)
;

    border: 1px solid rgb(179, 179, 179);
    border-radius: 42px;
    background: #ffffff;
    width: 20vw;
    height: 15vw;

}