* {
    font-family: sans-serif;
    text-align: center;
}

.navbar {
    display: grid;
    grid-template-columns: 0.9fr 2fr 1fr;
    height: 99%;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(126, 126, 126);

}

#logo {
    margin: auto;
    text-align: left;
    font-size: 3.5vw;
    color: rgb(41, 41, 41);
    background: none;
    font-weight: bold;
    border: none;

}

#logo:hover {
    text-decoration: underline;
}

.searchform {
    margin: auto;
    display: grid;
    grid-template-columns:10fr 1fr;
    gap: 10px;
}

#inputsearch {
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: auto;
    border: none;
    appearance: none;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 1em;
    width: 350px;
    border-radius: 10px;
}



#inputsearch:focus {
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
}

.searchbutton {
    justify-self: center;
    align-self: center;
    margin-top: 3px;
    width: 40px;
}

.cartbutton {
    justify-self: center;
    align-self: center;
    width: 50px;
}



