{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Home - PontoGelado</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <h3 id="logo">Ponto Gelado</h3>
            <form name="searchform" class="searchform" action="search" method="get">
                <input name="searchquery" id="inputsearch" type="text" placeholder="Click Here to Search...">
                <input class="searchbutton" onmouseover="highlightsearch(this, true, 'search')" onmouseout="highlightsearch(this, false, 'search')" type="image" src="../static/images/search.png" alt="Search">
                
            </form>
            <input type="image" class="cartbutton" onmouseover="highlightsearch(this, true, 'cart')" onmouseout="highlightsearch(this, false, 'cart')" src="../static/images/cart.png" alt="">
        </nav>
        <div class="content">
            <img class="welcomeimg" src="../static/images/image1.png" />
            <p id="Welcometext">Ponto Gelado</p>
            <p id="Welcometext2">Welcome to Polar's Safe Store</p>
            <div class="curiosidadescontainer">
                {% for feature in features%}
                <div class="box">
                    <p id="cur_title">{{feature.title}}</p>
                    <img id="cur_img"  src="{{feature.image.url}}" alt="">
                    <p id="cur_desc" >{{feature.description}}</p>
                    <div class="learnmorebutton">
                        <button onclick='' class="cta">
                            <span class="hover-underline-animation"> Learn More </span>
                            <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
                              <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <p id="allproductstext">All Products</p>

            <div class="allouterproductsbox">
                <div class="allproductsbox">
                    <div class="allproductsmenu">
                        <button class="filterbutton">Filters</button>
                    </div>
                    <div class="productlist">
                        {% for product in products  %}
                            <div class="productbox">
                            <div class="imgbox">
                                <img id="boximg" src="{{product.image.url}}" alt="">
                            </div>
                            
                            <a  href="../product/{{product.ids}}" id="producttitle">{{product.name |truncatewords:7}}</a>
                            <span class="favprice">
                                <span class="favs">
                                    <h4 id="favs">{{product.favs}}</h4>
                                    <button id="favbutton">
                                        <img src="../static/images/heart.png" alt="Fav" id="favimage">
                                    </button>
                                </span>
                                
                                <h4 id="price">{{product.price}}€</h4>

                            </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if pagination %}
            <div class="paginationbox">

            </div>
            {% endif %}
        </div>
        <footer class="footer">

        </footer>
    </div>
    <script src="{% static 'home.js'%}"></script>
</body>
</html>